/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-black: #22232E;
    --color-grey: #F7F7F7;
    --color-red: #FF3A3A;
    --color-yellow: #FFC225;
    --color-green: #30BF19;
    --color-body: #808080;
    --color-stroke: #CECECE;
    --color-bg-main: #ECEDEF;
    --color-bg-generator: #FFFFFF;
}