.password-generator {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: var(--color-black);
    background-color: var(--color-bg-generator);
    margin-top: 104px;
    border-radius: 12px;
    width: 458px;
    height: 591px;
    padding: 40px 24px 24px;

    & &__title {
        font-size: 24px;
        line-height: 33px;
        letter-spacing: -0.02em;
    }

    & &__range-label {
        display: flex;
        justify-content: space-between;
        color: var(--color-black);
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.02em;
    }

    & &__range-number {
        color: var(--color-black);
        font-size: 24px;
        line-height: 33px;
        letter-spacing: -0.02em;
    }

    & &__range-input {
        width: 100%;
    }

    & &__input-container {
        margin-bottom: 14px;
        color: var(--color-body);
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.02em;

        & input {
            margin-right: 12px;
        }
    }

    & &__strength-container {
        background-color: var(--color-grey);
        padding: 20px 24px;
        border-radius: 12px;
    }

    & &__strength-title-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    & &__strength-title {
        margin: 0;
        color: var(--color-black);
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.02em;
    }

    & &__strength-description {
        color: var(--color-body);
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.02em;
    }

    & &__strength-boxes {
        display: flex;
        gap: 7px;
    }

    & &__strength-box {
        height: 6px;
        width: 100%;
        border-radius: 90px;
    }


    & &__password {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-black);
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.02em;
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 17px 20px;
        border: 1px solid var(--color-stroke);
        border-radius: 12px;
    }

    & &__password-icon {
        display: flex;
        align-items: center;
        border: none;
        background-color: var(--color-bg-generator);
    }

    & &__copy-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        background-color: var(--color-black);
        border: none;
        width: 100%;
        height: 54px;
        border-radius: 12px;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.02em;
        cursor: pointer;

        & img {
            margin-right: 10px;
        }
    }

    & &__copy-button:hover {
        background-color: #414253;
    }

    & .low-strength {
        background-color: var(--color-red);
    }

    & .medium-strength {
        background-color: var(--color-yellow);
    }

    & .high-strength {
        background-color: var(--color-green);
    }
}