.password-generator {
    background-color: var(--color-bg-generator);
    margin-top: 104px;
    width: 458px;
    height: 591px;

    & &__title {
        margin: 20px;
    }

    & &__form {
        margin: 20px;
    }

    & &__strength {
        margin: 20px;
    }

    & &__password {
        margin: 20px;
    }

    & &__copy-button {
        margin-left: 20px;
    }
}